@import "styles/config.scss";

.button {
  font-size: 14px;
  font-family: "Biennale Regular";
  padding: 1em;
  border: none;
  cursor: pointer;
}
.outlined {
  color: white;
  background-color: $primaryColor;
  border-radius: 12px;
}

.text {
  color: $primaryColor;
  background-color: transparent;
  text-decoration: underline;
}

.fullWidth {
  width: 100%;
}
