@import "styles/config.scss";

.container {
  width: 100%;
  max-width: $maxScreenWidth;
  background-color: $lighterGreyColor;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  width: 100%;
  color: $primaryColor;
  font-weight: bold;
  flex-grow: 1;
}

.dateFilters {
  font-size: 12px;
  display: flex;
  align-items: center;
  & > label {
    color: $primaryColor;
    padding: 0 1rem 0 0;
    white-space: nowrap;
  }
}

.divider {
  display: block;
  height: 40px;
  width: 2px;
  margin: 0 1rem;
  display: block;
  background-color: $primaryColor;
}
