@import "styles/config.scss";

.container {
  width: 100%;
  background-color: $lighterGreyColor;
  margin: 1rem 1rem;
  padding: 1.25rem 1rem;
  border-radius: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: $mediaQueryDesktop) {
    padding: 0 1rem;
  }
}

.title {
  width: 100%;
  color: $primaryColor;
  font-weight: bold;
  flex-grow: 1;
}

.dateFilters {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.divider {
  display: block;
  height: 48px;
  border-left: 1px solid $primaryColor;
  margin: 0 0.5rem 0 1.5rem;
  display: block;
  background-color: $primaryColor;
}
