@import "styles/config.scss";

.title {
  color: $primaryColor;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.actionGroup {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  column-gap: 5px;
}
