@import "styles/config.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  color: $darkGreyColor;

  background-color: $lighterGreyColor;
  border: 1px solid transparent;
  border-radius: 12px;

  & svg > circle {
    stroke: $darkGreyColor;
    &.doneIcon {
      fill: $darkGreyColor;
    }
  }

  & svg > path {
    stroke: white;
  }

  cursor: pointer;
}

.selected {
  color: $primaryColor;
  background-color: $lightPrimaryColor;
  border: 1px solid $primaryColor;

  & svg > circle {
    stroke: $primaryColor;

    &.doneIcon {
      fill: $primaryColor;
    }
  }
}

.taskAction {
  border: none;
  margin-right: 2rem;
}

.taskContent {
  flex-grow: 1;
}

.taskTitle {
  display: block;
  font-size: 14px;
  margin-bottom: 0.25rem;
}

.taskDone {
  text-decoration: line-through;
}

.taskDue {
  display: block;
  font-size: 12px;
}
