@import "styles/config.scss";

.container {
  list-style: none;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  color: $darkGreyColor;

  background-color: $lighterGreyColor;
  border: 1px solid transparent;
  border-radius: 12px;

  cursor: pointer;
}

.taskStatus {
  border: none;
  margin-right: 2rem;

  & > svg {
    stroke: $darkGreyColor;
    & > circle {
      stroke: $darkGreyColor;
      fill: $darkGreyColor;
    }
    & path {
      stroke: white;
    }
  }
}

.selected {
  color: $primaryColor;
  background-color: $lightPrimaryColor;
  border: 1px solid $primaryColor;

  & *.taskStatus > svg {
    stroke: $primaryColor;
    & > circle {
      stroke: $primaryColor;
      fill: $primaryColor;
    }
    & path {
      stroke: white;
    }
  }
}

.taskContent {
  flex-grow: 1;
}

.taskTitle {
  display: block;
  font-size: 14px;
  margin-bottom: 0.25rem;
}

.taskDone {
  text-decoration: line-through;
}

.taskDue {
  display: block;
  font-size: 12px;
}
