@import "styles/config.scss";

.input {
  width: 100%;
  min-width: 120px;
  max-width: 180px;
  outline: transparent;
  color: $primaryColor;
  background-color: transparent;
  width: 100%;
  border: 1px solid $secondaryColor;
  padding: 0.5rem;
  border-radius: 12px;
  border-color: $primaryColor;

  &:focus,
  &:active {
    border-bottom: 1px solid $primaryColor;
  }
}
