.textfield {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;

  & > img {
    margin-right: 1rem;
  }
  & .showIcon {
    // border: 1px solid red;
    position: absolute;
    right: 0;
    top: 12px;
  }
}
