$primaryColor: #ed1164;
$lightPrimaryColor: #ffebf2;
$secondaryColor: #91a3ad;
$lighterGreyColor: #91a3ad35;
$lightGreyColor: #ffeff24d;
$mediumGreyColor: #ffeff21c;
$darkGreyColor: #575757;

$successColor: #4dc62f;
$warningColor: #fdb646;
$errorColor: #fc3c4f;

$mediaQueryDesktop: 954px;

$maxScreenWidth: 1280px;
